# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Configuración Personal (¡No subir a GitHub!)
config.json
banned-words.json
user-aliases.json
.env

# Archivos generados
public/output.css

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
*.lnk

# Configuraciones de Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
